<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quiz game</title>
  </head>
  <body>
    <h1>Welcome <%= name %>!</h1>

    <p>1. In 1768, Captain James Cook set out to explore which ocean?</p>
    
  </body>
</html>
